<h1>Pagina de cadastro</h1>

<form action="" method="POST" class="form">
  <div>
    <label for="name">Nome:</label>
    <input type="text" name="nome" placeholder="Digite o seu nome">
  </div>

  <div>
    <label for="login">login:</label>
    <input type="text" name="login" placeholder="Digite o seu nome de usuario">
  </div>

  <div>
    <label for="senha">senha:</label>
    <input type="text" name="senha">
  </div>

  <input type="submit" value="Cadastrar">
  
</form>